<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZenDeskSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ZenDeskSharp.Properties.Settings>
            <setting name="ZendeskUrl" serializeAs="String">
                <value>ZendeskUrl</value>
            </setting>
            <setting name="ZendeskEMail" serializeAs="String">
                <value>ZendeskEMail</value>
            </setting>
            <setting name="ZendeskPassword" serializeAs="String">
                <value>ZendeskPassword</value>
            </setting>
        </ZenDeskSharp.Properties.Settings>
    </applicationSettings>
</configuration>